@import "ui-variables";
@import "octicon-mixins";

.PortalStatusBarIndicator {
  .octicon(radio-tower);
  color: @text-color-subtle;

  // Remove margin on the icon since there is no text that follows
  &&&:before {
    margin-right: 0;
  }
}

.RealTimePopoverTooltip {
  user-select: none;

  &.tooltip {
    width: 300px;
    padding-left: @component-padding;
    padding-right: @component-padding;
    box-sizing: border-box;
  }

  .tooltip-inner.tooltip-inner.tooltip-inner.tooltip-inner {
    padding: @component-padding;
    background-color: @tool-panel-background-color;
    border: 1px solid @base-border-color;
    box-shadow: 0 4px 8px hsla(0, 0, 0, .1);
    color: @text-color;
    max-height: 300px;
    white-space: normal;
    overflow-y: auto;
  }

  &.top .tooltip-arrow.tooltip-arrow {
    width: @component-padding;
    height: @component-padding;
    border-width: 0 0 1px 1px;
    border-color: @base-border-color;
    background-color: @tool-panel-background-color;
    border-bottom-right-radius: 2px;
    transform: rotate(-45deg);
  }
}

.RealTimePopoverComponent {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.PortalListComponent {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.PortalListComponent--initializing {
  text-align: center;
}

.PortalParticipants {
  flex: auto;
  display: flex;
  flex-direction: row;
  align-items: center;

  &-guests {
    flex: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: start;
    flex-wrap: wrap;
  }

  &-participant {
    margin: @component-padding / 2;

    img {
      width: 26px;
      border-radius: 50%
    }
  }

  &-site-1 img {
    width: 40px;
  }
}

.HostPortalComponent {
  flex: none;

  &-status {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  &-share-toggle {
    flex: none;

    label {
      margin: 0;
    }
  }

  &-connection-info {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    background-color: @inset-panel-background-color;
    padding: @component-padding;
    margin-left: -@component-padding;
    margin-right: -@component-padding;

    &-heading {
      h1 {
        margin-top: @component-padding / 2;
        font-weight: lighter;
        font-size: 125%;
      }
    }

    &-portal-id {
      display: flex;
      flex-direction: row;
      margin-bottom: 5px;

      .input-text {
        display: flex;
        flex: auto;
      }

      .btn {
        margin-left: @component-padding / 2;
        flex: none;
      }
    }

    &-explanation p {
      text-align: left;
      margin: 0;
    }
  }
}

.PortalListComponent-GuestPortalsContainer {
  flex: 1;
}

.GuestPortalComponent {
  display: flex;
  flex-direction: row;
  align-items: center;

  &-leave.btn {
    flex: none;
    width: 60px;

    label {
      margin: 0;
    }
  }
}

.SignInComponent {
  text-align: center;
  padding: @component-padding;

  atom-text-editor {
    margin-bottom: @component-padding;
    text-align: left;
  }
}

.SignInComponent-GitHubLogo {
  .octicon(mark-github, 20px);
  margin-left: 2px;
}

.JoinPortalComponent--no-prompt {
  flex: none;
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  label {
    color: @text-color-subtle;
  }

  label:hover {
    color: darken(@text-color-subtle, 30%);
    cursor: pointer;
  }
}

.JoinPortalComponent--prompt {
  flex: none;
  height: 40px;
  text-align: left;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  atom-text-editor {
    flex: auto;
    font-size: 12px !important;
  }

  .btn {
    flex: none;
    width: 60px;
    margin-left: 5px;
  }
}

.cursor.ParticipantCursor {
  &--site-1 {
    border-left-color: @ui-site-color-1;
  }

  &--site-2 {
    border-left-color: @ui-site-color-2;
  }

  &--site-3 {
    border-left-color: @ui-site-color-3;
  }

  &--site-4 {
    border-left-color: @ui-site-color-4;
  }

  &--site-5 {
    border-left-color: @ui-site-color-5;
  }

  &--site-6 {
    border-left-color: spin(@ui-site-color-1, 25);
  }

  &--site-7 {
    border-left-color: spin(@ui-site-color-2, 25);
  }

  &--site-8 {
    border-left-color: spin(@ui-site-color-3, 25);
  }

  &--site-9 {
    border-left-color: spin(@ui-site-color-4, 25);
  }

  &--site-10 {
    border-left-color: spin(@ui-site-color-5, 25);
  }

  &--site-11 {
    border-left-color: spin(@ui-site-color-1, 65);
  }

  &--site-12 {
    border-left-color: spin(@ui-site-color-2, 65);
  }

  &--site-13 {
    border-left-color: spin(@ui-site-color-3, 65);
  }

  &--site-14 {
    border-left-color: spin(@ui-site-color-4, 65);
  }

  &--site-15 {
    border-left-color: spin(@ui-site-color-5, 65);
  }
}
