@import "ui-variables";
@import "octicon-mixins";

.realtime-PortalStatusBarIndicator {
  .octicon(radio-tower);
  color: @text-color-subtle;

  &.focused {
    color: @text-color-success;
  }

  // Remove margin on the icon since there is no text that follows
  &&&:before {
    margin-right: 0;
  }
}

.realtime-LoginDialog {
  p {
    font-size: 125%;
  }
}
